<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cowdino.iwt" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ImgurWatchTest</name>
    <description>
        An unofficial Imgur application for viewing random images on a website or mobile app with optional Apple Watch support.
    </description>
    <author email="catlin.sean@gmail.com" href="http://cowdino.com">
        Sean Catlin via cowdino
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-statusbar" version="1.0.1" />
    <plugin name="cordova-plugin-apple-watch" spec="https://github.com/leecrossley/cordova-plugin-apple-watch" />
    <plugin name="net.trentgardner.cordova.androidwear" spec="https://github.com/tgardner/cordova-androidwear" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.1.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="graphics/ticons-generated-graphics/platform/android/res/drawable-xhdpi/appicon.png" />
        <icon density="hdpi" src="graphics/ticons-generated-graphics/platform/android/res/drawable-hdpi/appicon.png" />
        <icon density="ldpi" src="graphics/ticons-generated-graphics/platform/android/res/drawable-ldpi/appicon.png" />
        <icon density="mdpi" src="graphics/ticons-generated-graphics/platform/android/res/drawable-mdpi/appicon.png" />
        <icon density="xhdpi" src="graphics/ticons-generated-graphics/platform/android/res/drawable-xhdpi/appicon.png" />
        <icon density="xxhdpi" src="graphics/ticons-generated-graphics/platform/android/res/drawable-xxhdpi/appicon.png" />
        <icon density="xxxhdpi" src="graphics/ticons-generated-graphics/platform/android/res/drawable-xxxhdpi/appicon.png" />
        <splash src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-xhdpi/default.png" />
        <splash density="land-hdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-ldpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-mdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-xhdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-xxhdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-xxxhdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-land-hdpi/default.png" />
        <splash density="port-hdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-hdpi/default.png" />
        <splash density="port-ldpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-ldpi/default.png" />
        <splash density="port-mdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-mdpi/default.png" />
        <splash density="port-xhdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-xhdpi/default.png" />
        <splash density="port-xxhdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-xxhdpi/default.png" />
        <splash density="port-xxxhdpi" src="graphics/ticons-generated-graphics/app/assets/android/images/res-long-port-xxxhdpi/default.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-60@3x.png" width="180" />
        <icon height="60" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-60.png" width="60" />
        <icon height="120" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-60@2x.png" width="120" />
        <icon height="76" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-76.png" width="76" />
        <icon height="152" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-76@2x.png" width="152" />
        <icon height="40" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-Small-40.png" width="40" />
        <icon height="80" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-Small-40@2x.png" width="80" />
        <icon height="57" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon.png" width="57" />
        <icon height="114" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon@2x.png" width="114" />
        <icon height="72" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-72.png" width="72" />
        <icon height="144" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-72@2x.png" width="144" />
        <icon height="29" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-small.png" width="29" />
        <icon height="58" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-small@2x.png" width="58" />
        <icon height="50" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-Small-50.png" width="50" />
        <icon height="100" src="graphics/ticons-generated-graphics/app/assets/iphone/appicon-Small-50@2x.png" width="100" />
        <splash height="480" src="graphics/ticons-generated-graphics/app/assets/iphone/Default.png" width="320" />
        <splash height="960" src="graphics/ticons-generated-graphics/app/assets/iphone/Default@2x.png" width="640" />
        <splash height="1024" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-Portrait.png" width="768" />
        <splash height="2048" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-Portrait@2x.png" width="1536" />
        <splash height="768" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-Landscape.png" width="1024" />
        <splash height="1536" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-Landscape@2x.png" width="2048" />
        <splash height="1136" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-568h@2x.png" width="640" />
        <splash height="1334" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-667h@2x.png" width="750" />
        <splash height="2208" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1242" src="graphics/ticons-generated-graphics/app/assets/iphone/Default-Landscape-736h@3x.png" width="2208" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#D84315" />
    <preference name="StatusBarStyle" value="lightcontent" />
</widget>
